<!DOCTYPE html>

<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed"
      dir="ltr" data-theme="theme-default" data-assets-path="admin-assets/"
      data-template="vertical-menu-template" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="admin/layouts/header::admin-header"></head>

<body>

<div class="layout-wrapper layout-content-navbar  ">
    <div class="layout-container">

        <!-- SIDEBAR -->
        <aside th:replace="admin/layouts/sidebar::admin-sidebar"></aside>
        <!-- /SIDEBAR -->


        <!-- CONTAINER -->
        <div class="layout-page">

            <!-- NAVBAR -->
            <nav th:replace="admin/layouts/navbar::admin-navbar (${currentUser.imgUrl}, ${currentUser.name}, ${currentUser.role.name.name()})"></nav>
            <!-- /NAVBAR -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">


                    <div class="row">


                        <div class="col-lg-4 col-12">
                            <div class="row">
                                <!-- Statistics Cards -->
                                <div class="col-6 col-md-3 col-lg-6 mb-4">
                                    <div class="card h-100">
                                        <div class="card-body text-center">
                                            <div class="avatar mx-auto mb-2">
                                                <span class="avatar-initial rounded-circle bg-label-success"><i
                                                        class="bx bx-purchase-tag fs-4"></i></span>
                                            </div>
                                            <span class="d-block text-nowrap">Purchase</span>
                                            <h2 class="mb-0">65</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 col-lg-6 mb-4">
                                    <div class="card h-100">
                                        <div class="card-body text-center">
                                            <div class="avatar mx-auto mb-2">
                                                <span class="avatar-initial rounded-circle bg-label-danger"><i
                                                        class="bx bx-cart fs-4"></i></span>
                                            </div>
                                            <span class="d-block text-nowrap">Order</span>
                                            <h2 class="mb-0">40</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Content wrapper -->

        </div>
        <!-- /CONTAINER -->
    </div>

</div>

<div th:replace="admin/layouts/footer::admin-footer"></div>

</body>

</html>
