<!doctype html>
<html lang="en">

<head th:replace="client/layouts/header::header"></head>

<body class="theme-light-active" id="activeTheme">

<div th:replace="client/layouts/navbar::navbar"></div>

<!-- ===============  hero one style start =============== -->
<div class="hero_style__two bg-body-2 pt-60 pb-60">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-8">
                <div class="swiper hero_slider__two">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" th:each="collection : ${top5}">
                            <div class="hero_featured__slide">
                                <div class="featured_slide__bg">
                                    <img th:src="${collection.imgUrl}" alt="">
                                </div>
                                <div class="featured_slide__content">
                                    <a href="javascript:void(0)" class="author">[[#{by}]] [[${collection.author}]]</a>
                                    <h1><a th:href="@{/collections/__${collection.id}__}">[[${collection.name}]]</a>
                                    </h1>
                                    <div class="featured_slide__bottom">
                                        <a th:href="@{/collections/__${collection.id}__}" class="btn-pill-v1">
                                            <span th:text="#{detail}"></span>
                                        </a>
                                        <div class="feat_nft__price">
                                            <span th:text="#{items}"></span>
                                            <ins>[[${collection.itemsCount}]]</ins>
                                        </div>
                                        <div class="feat_nft__price">
                                            <span th:text="#{topic}"></span>
                                            <ins>[[${collection.topicName}]]</ins>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="swiper hero_thumbs__two">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" th:each="collection : ${top5}">
                            <div class="hero_thumb__slide">
                                <div class="hero__thumb">
                                    <img th:src="${collection.imgUrl}" alt="">
                                </div>
                                <div class="hero_thumb__disc">
                                    <span>[[#{by}]] <a href="javascript:void(0)"> [[${collection.author}]]</a></span>
                                    <h6><a href="#">[[${collection.name}]]</a></h6>
                                    <ins>[[${collection.itemsCount}]]</ins>
                                    <span> [[#{items}]]</span>
                                </div>
                                <span class="thumb_progress__bar"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ===============  hero one style end =============== -->

<div class="sellers_style__one bg-body section_gap_y_top__2">
    <div class="container">
        <div class="row pb-30">
            <div class="col-lg-12 d-flex align-items-center justify-content-between gap-18 flex-wrap flex-lg-nowrap ">
                <h3 class="section_title__1 fw-bold">
                    <span class="text-nowrap" th:text="#{latest.items}"></span>
                </h3>
                <div class="section__actions d-flex gap-4">
                    <a href="/items" class="btn-rounded-v1 varient-2">
                        <span class="text-nowrap" th:text="#{view.all}"></span>
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.25 6H11.25" stroke-width="1.2" stroke-linecap="round"
                                  stroke-linejoin="round"/>
                            <path d="M6.25 1L11.25 6L6.25 11" stroke-width="1.2" stroke-linecap="round"
                                  stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="swiper serllers_slider__one">
            <div class="swiper-wrapper">
                <div class="swiper-slide" th:each="item : ${items}">
                    <div class="seller_card-outer">
                        <div class="seller_card_style__one">
                            <div class="seller__info">
                                <h6 class="seller__name"><a th:href="@{/items/__${item.id}__}"
                                                            th:text="${item.name}"></a></h6>
                                <p th:text="${#temporals.format(item.createdAt,'dd-MMM-yyyy hh:mm')}"></p>
                                <a th:href="@{/items/__${item.id}__}" class="seller__follow" th:text="#{detail}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="client_logo_style__two bg-body-2 section_gap_y_top__1 ">
    <div class="container">
        <h3 class="section_title__1 fw-bold py-5 text-center">
            <span class="text-nowrap" th:text="#{popular.tags}"></span>
        </h3>
        <div class="row gy-4 row-cols-lg-5 row-cols-md-4 row-cols-sm-3 row-cols-2">
            <div class="col" th:each="tag : ${tags}">
                <a th:href="@{/tags/__${tag.id}__}">
                    <div class="single_client__logo">
                        <h7 style="color: rgba(132,136,145,0.9)" th:text="${tag.name}"></h7>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            var currentLocation = window.location.href.split('?')[0];
            if (selectedOption != '') {
                window.location.replace(currentLocation + '?lang=' + selectedOption);
            }
        });
    });
</script>

<div th:replace="client/layouts/footer::footer"></div>
</body>
</html>