<!doctype html>
<html lang="en">

<head th:replace="client/layouts/header::header"></head>

<body class="theme-light-active" id="activeTheme">

<div th:replace="client/layouts/navbar::navbar"></div>


<!-- ===============  breadcrumb style start =============== -->
<div class="breadcrumb_style__two bg-body-2">
    <div class="container row">
        <div class="col-md-6 align-items-center justify-content-between flex-wrap gap-2">
            <a href="/" class="back__btn">
                <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 6.5H1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round"/>
                    <path d="M6 11.5L1 6.5L6 1.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round"/>
                </svg>
                <span>Back to home</span>
            </a>
        </div>
        <div class="col-6 " style="float: right">
            <a class="btn btn-outline-warning btn-sm">Edit</a>
            <a class="btn btn-outline-danger btn-sm">Delete</a>
        </div>
    </div>
</div>
<!-- ===============  breadcrumb style end =============== -->

<div class="nft_details__style pt-60 bg-body-2 section_gap_y_bottom__1">
    <div class="container">
        <div class="row gx-7 gy-4 position-relative justify-content-between">
            <div class="col-lg-8">
                <div class="nft__details">
                    <div class="nd__header">
                        <div class="nd__title">
                            <h3 class="nft__title">[[${item.name}]] <span>[[${item.topicName}]] / [[${item.collectionName}]]</span>
                            </h3>
                        </div>
                        <ul class="nd_header__actions">
                            <li class="like__btn">
                                <button>
                                    <svg width="14" height="12" viewBox="0 0 14 12" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.6985 1.99765L6.99742 2.1692L7.2962 1.99743C7.50862 1.8753 7.71506 1.74828 7.92068 1.62176C8.31313 1.38029 8.70258 1.14066 9.12479 0.940522C9.75536 0.641607 10.2727 0.531212 10.6931 0.653546C13.0724 1.35159 13.8419 3.69978 13.1616 5.63257L13.1605 5.63569C12.6276 7.17674 11.1864 8.58658 9.76123 9.65606C8.42346 10.66 7.1915 11.297 6.99824 11.3948C6.80116 11.2956 5.58162 10.6685 4.25227 9.67217C2.83358 8.60886 1.38872 7.19725 0.835968 5.63284C0.154704 3.69814 0.922572 1.34971 3.29816 0.653425L3.29875 0.653253C3.73433 0.525103 4.24488 0.633423 4.86272 0.928388C5.27058 1.1231 5.64246 1.35367 6.02504 1.59088C6.24316 1.72612 6.46476 1.86351 6.6985 1.99765Z"
                                              stroke="currentColor" stroke-width="1.2"/>
                                    </svg>
                                    <span>[[${item.likedUsers.size}]]</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <ul class="collections">
                        <li class="creator">
                            <div class="disc">
                                <span>Author</span>
                                <h5>[[${item.author}]]</h5>
                            </div>
                        </li>
                        <li class="creator px-1">
                            <div class="disc">
                                <span>Created At</span>
                                <h5>[[${#temporals.format(item.createdAt, 'yyyy-MM-dd HH:mm')}]]</h5>
                            </div>
                        </li>
                        <li class="creator px-3">
                            <div class="disc">
                                <span>Updated At</span>
                                <h5>[[${#temporals.format(item.updatedAt, 'yyyy-MM-dd HH:mm')}]]</h5>
                            </div>
                        </li>
                    </ul>
                    <div th:each="field : ${item.customFields}">
                        <ul class="collections">
                            <li class="creator px-1">
                                <div class="disc">
                                    <span th:text="${field.name}"></span>
                                    <h5 th:text="${field.value}"></h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <aside class="blog__sidebar">
                    <div class="single__widget pt-40">
                        <h5 class="widget__title">Item Tags</h5>
                        <ul class="widget__body popular__tags">
                            <li th:each="tag : ${item.tags}"><a th:href="@{/tags/tag.id}">[[${tag.name}]]</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
        <div class="blog__details">
            <div class="row gx-6">
                <div class="col-lg-8 pt-40">
                    <div class="blog__bottom">
                        <div class="blog__comments pt-60">
                            <h4 class="comt__count pb-4">Comments ([[${item.comments.size}]])</h4>
                            <div style="overflow: auto; max-height: 350px">
                                <ul class="single_comment__block py-2" th:each="comment : ${item.comments}">
                                    <li class="single__com">
                                        <div class="commentor">
                                            <img th:src="${comment.commentedByImgUrl}" alt="">
                                        </div>
                                        <div class="comment__body">
                                            <h5>[[${comment.commentedBy}]] <span>. [[${#temporals.format(comment.commentedAt, 'yyyy-MM-dd HH:mm')}]]</span>
                                            </h5>
                                            <p>[[${comment.body}]]</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pt-60">
                    <div>
                        <div class="custom_input__style">
                            <label for="massege">Your Comment</label>
                            <textarea id="massege" cols="30" rows="5" placeholder="Write a Comment"></textarea>
                        </div>
                    </div>
                    <div class="submit__btn mt-30">
                        <button type="submit" class="submit-v1">Send Message</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div th:replace="client/layouts/footer::footer"></div>
</body>
</html>